@media screen and (min-width:320px) and (max-width:570px) {

    .navbaar
    {
        display: none;
    }
    .cont h1
    {
        font-size: 43px;
    }
    .muskan{
        display: none;
    }
    
}